:root {
    --nav-bar-text: rgba(0, 0, 0, .5);
}

i {
    color: var(--nav-bar-text);
}
a.link {
    color: var(--nav-bar-text);
}
.pizza-banner {
    background-image: url("/img/pizza-banner.png");
    display: flex;
}
.fluid-container {
    display: inline-block;
    background: rgba(255, 255, 255, .5);
    width: 100%;
}
h1 {
    margin: 0 auto;
}

