* {
    box-sizing: border-box;

}
body {
    margin: 0;
}
.container {
    background: lightgrey;
    display: flex;
    justify-content: space-between;

}
a {
    display: inline-block;
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
}
.logo {
    font-family: Montserrat, sans-serif;
    font-size: 2em;
    margin: auto;
    padding: 0 .2em;
}
.nav-link {
    list-style: none;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    display: flex;
}
.left-nav {
    justify-content: left;
    display: flex;
}
ul .nav-link {
    padding-inline-start: 0;
}
.right-nav {
    justify-content: right;
    display: flex;
}
li {
    padding: 1em;
}
ul.nav-link {
    padding-inline-start: 0;
}
