
nav {
    background-color: #8D86C9;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-brand {
    padding: .5em;
}
#city {
    color: white;
    margin-right: .5em;
}
#map {
    width: auto;
    height: 500px;
    margin: 1em;
    border: 2px solid #8D86C9;
    border-radius: 5px;
}
.forecast-title {
    padding: 2em;
}

#forecast-grid {
    display: flex;
    justify-content: space-evenly;
}
.forecast-container {
    margin: 1em;
}
.card {
    padding: 0;
}
.card-header {
    background-color: #8D86C9;
    color: #eeeeee;
    font-weight: bold;
    
}

$('#week-day2').html(`${new Date(data.daily[2].dt * 1000).toString().substr(0, 15)}`);
$('#week-day3').html(`${new Date(data.daily[3].dt * 1000).toString().substr(0, 15)}`);
$('#week-day4').html(`${new Date(data.daily[4].dt * 1000).toString().substr(0, 15)}`);