.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-brand {
    padding: 1em;
}
#city {
    color: white;
    margin-right: .5em;
}
#map {
    width: 100%;
    height: 700px;
}
.forecast-title {
    padding: 2em;
}

#forecast-grid {
    display: flex;
    justify-content: space-evenly;
}
.card {
    padding: 0;
}
